@import "variables";
@import "~bootstrap/scss/bootstrap";

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.card {
    .card-header, .card-body, .card-footer {
        background: #ffffff;
        padding: 1rem;
    }
}